* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c7cbb6;
}

#header {
  background-color: rgb(179, 135, 135);
  height: 14em;
  width: 100%;
  border-radius: 0 0 85% 85% / 50%;
  background-image: url(./assets/nature.png);
  margin-bottom: 10px;
  position: absolute;
}

#header p {
  text-align: center;
  color: rgb(243, 235, 235);
  position: relative;
  top: 2em;
  font-size: 3.3em;

  font-family: Bradley Hand, cursive;
}
.ourAdvise {
  font-family: sans-serif;
  margin: 5px;
  padding: 10px;
  color: rgb(83, 94, 85);
  border-bottom: 1px solid #004d00;
  text-align: center;
}
.namesList {
  list-style-type: none;
  position: absolute;
  z-index: -1;
}

.namesList li {
  font-family: sans-serif;
  color: #1c311a;
  margin: 5px;
  padding: 5px;
  font-size: 1.5em;
  border-bottom: 3px solid rgb(49, 104, 53);
  border-radius: 0 20px;
}
#main-container {
  width: 30%;
  margin: auto;
  top: 250px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(12, 100, 12, 0.603);
  border-radius: 5px;
  background-color: rgba(12, 153, 12, 0.07);
  position: relative;
}

#search-field {
  margin: 2em;
  border: none;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  height: 3em;
  cursor: pointer;
}

#safest-countries-btn {
  margin: 2em;
  border: none;
  padding: 5px;
  font-size: large;
  font-family: sans-serif;
  border-radius: 5px;
  cursor: pointer;
  height: 3em;
}
#safest-countries-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(12, 100, 12, 0.24),
    0 17px 50px 0 rgba(12, 100, 12, 0.19);
}
#safest-countries-btn:active {
  background-color: #87aa84;
  box-shadow: 0 2px rgb(12, 100, 12);
  transform: translateY(2px);
}

#unsafest-countries-btn {
  margin: 2em;
  border: none;
  padding: 5px;
  font-size: large;
  font-family: sans-serif;
  border-radius: 5px;
  cursor: pointer;
  height: 3em;
}

#unsafest-countries-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(12, 100, 12, 0.24),
    0 17px 50px 0 rgba(12, 100, 12, 0.19);
}

#unsafest-countries-btn:active {
  background-color: #87aa84;
  box-shadow: 0 2px rgb(12, 100, 12);
  transform: translateY(2px);
}

#home-button {
  margin: 5px;
  top: 30px;
  left: 30px;
  border: 1px solid rgb(116, 44, 44);
  padding: 5px;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 5px;
  cursor: pointer;
  height: 3em;
  position: fixed;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  background-color: rgba(48, 97, 52, 0.788);
  color: rgb(221, 238, 223);
  font-weight: bold;
}

#home-button:hover {
  box-shadow: 0 12px 16px 0 rgba(12, 100, 12, 0.24),
    0 17px 50px 0 rgba(12, 100, 12, 0.19);
}

#home-button:active {
  background-color: #87aa84;
  box-shadow: 0 2px rgb(12, 100, 12);
  transform: translateY(2px);
}

#weather-container {
  background-color: rgba(232, 248, 255, 0.3);
  border-radius: 5px;
  box-shadow: 0 8px 8px 0 #004d00;
  margin: 10px;
  position: absolute;
  right: 30px;
  top: 30px;
}

.tempTitle {
  font-family: sans-serif;
  margin: 5px;
  padding: 10px;
  color: rgb(83, 94, 85);
  border-bottom: 1px solid #004d00;
}

.temp {
  margin: 5px;
  padding: 10px;
  font-family: sans-serif;
  word-spacing: 3px;
  line-height: 2em;
  color: rgb(83, 94, 85);
}

.messageText {
  font-family: sans-serif;
  font-size: 1.4em;
  margin: 30px 10px 10px;
  padding: 5px;
  line-height: 1.5em;
  color: rgb(83, 94, 85);
  text-align: center;
}

.moreInfo {
  border-top: 1px solid #004d00;
  margin: 10px 10px;
  padding: 5px;
  font-family: Courier New, monospace;
  font-size: 1em;
  position: absolute;
  bottom: 0;
}

.link:visited {
  color: black;
}
